requests
streamlit
python-dateutil
dateparser
feedparser
beautifulsoup4
pandas
tqdm
langdetect
mysql-connector-python
python-dotenv
plotly
openai
sentence-transformers
google-generativeai

# spaCy (must be AFTER all general deps)
spacy==3.7.2
spacy-lookups-data

# spaCy English model (MUST be last)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

