streamlit
requests
python-dateutil
dateparser
feedparser
beautifulsoup4
pandas
tqdm
langdetect
python-dotenv
plotly
sentence-transformers
google-generativeai

# HuggingFace Transformers + PyTorch (needed for your NER pipeline)
transformers
torch



